// ====================
// Block list: block-system, block-block, block-views, block-[name of modules], ....
// ---
.block{
	@at-root{
		// Block menu
		// Block highligh
		// ...
	}
}

// ====================
// Panel List: panel-pane, panel-[field], panel-[class], ...
// ---
.panel-pane{
    margin:{
        @include sizeRem(top, 15);
        @include sizeRem(bottom, 15);
    }
	@at-root{
		// Panel a
		// Panel b
		// ...
	}
}

dl {
	a{
		color: $title-color;
		&:hover, &:focus{
			color: $link-color;
		}
	}	
	dt {
		border-top: 1px dashed $border-color;
		padding-top: 10px;
		@include sizeRem(font-size, 14);
		@include wp-font(font-bold);
		&:first-child {
			border-top: none;
			padding-top: 0;
		}
		+ dt {
			margin-top: 10px;
		}
		&:empty {
			display: none;
		}
	}
	dd {
		@include sizeRem(font-size, 13);
		@include wp-font(font-medium);
		margin-left: 0;
		padding-bottom: 10px;
		&:last-child {
			padding-bottom: 0;
		}
	}
}

#system-modules-uninstall{
	td[align="center"]{
		text-align: left;
	}
}

#field-overview{
	th:last-child,
	td:last-child{
		text-align: right;
	}
}

