// ====================
// TYPOGRAPHY
// ---

$font-body:             'Quicksand', sans-serif;
$font-bold:          	'Quicksand', sans-serif;
$font-medium:	        'Quicksand', sans-serif;
$font-light:	   		'Quicksand', sans-serif;

$font-weight-body:		normal;
$font-weight-bold:		bold;
$font-weight-medium:	500;
$font-weight-light:		300;			

// ====================
// Font Size Rem
// Default: 1rem = 16px
// ---
$size-default:		16px;
$line-height-default: 1.42857143;


// ====================
// Colors scheme for Themes
// ---
$white-color:			#ffffff;
$black-color:			#000000;
$body-color:			#777777;
$sub-title-color:		#444444;	
$title-color:			#333132;
$border-color: 			#e3e7e8;
$bg-color:				#f9f9f9;
$light-blue-color:		#c2d4e8;
$seafoam-blue-color:	#6cd29a;

// Skin color
$link-color:			#2a5caa;
$link-text-color:		#92b0c8;
$link-active-color:		#2f5574;

// ====================
// Devices
// ---
$desktop:               1200px;
$tablet-ht:             992px;		// Tablet Horizontal
$tablet-vt:             768px;		// Tablet Vertical
$mobile:                640px;
$mobile-md:             480px;
$mobile-sm:             360px;
$mobile-xs:             320px;

// ====================
// List for space around: padding, margin 
// ---
$list-item: 30; 
